<form (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Venue</mat-label>
    <input type="text" matInput [formControl]="venueSearchControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onVenueSelect($event)" [displayWith]="displayVenue">
      <mat-option *ngFor="let venue of filteredVenues" [value]="venue">
        {{ venue.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-option *ngIf="filteredVenues.length === 0 && venueSearchControl.value">
    <span (click)="addNewVenue()">+ Aggiungi {{ venueSearchControl.value ? venueSearchControl.value.toString().trim() : '' }}</span>
  </mat-option>

  <button type="submit" [disabled]="loadingVenue">Salva</button>
  <button type="button" (click)="cancel.emit()">Annulla</button>
</form>
